<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Ajouter une terrain</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="terrainForm" (ngSubmit)="onSubmit()">
              <mat-form-field class="example-full-width" appearance="fill" formGroupName="categorie">
                <mat-label>Selection une categorie</mat-label>
                <mat-select formControlName="nom" (selectionChange)="greetCat($event)" [(value)]="selected">
                  <mat-option *ngFor="let c of categories" [value]="c.nom">
                    {{c.nom}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill" formGroupName="ville">
                  <mat-label >Selection une ville</mat-label>
                  <mat-select formControlName="libelle" (selectionChange)="greetVille($event)">
                    <mat-option *ngFor="let v of villes" [value]="v.libelle">
                      {{v.libelle}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                <input matInput type="text" placeholder="Libelle" formControlName="libelle"/>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput type="number" placeholder="Prix" formControlName="prix"/>
              </mat-form-field>
              <br>
              <mat-form-field>
                <textarea matInput placeholder="Description" formControlName="description" type="text"></textarea>
              </mat-form-field>
              <br>
              <div *ngIf="currentFile" class="progress">
                <div
                  class="progress-bar progress-bar-info progress-bar-striped"
                  role="progressbar"
                  attr.aria-valuenow="{{ progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progress + '%' }">
                  {{ progress }}%
                </div>
              </div>
              <label class="btn btn-default">
                <input type="file" (change)="selectFile($event)" accept="image/jpg, image/png, image/gif, image/jpeg"/>
              </label>
              <button type="submit" class="btn btn-success"  [disabled]="!selectedFiles">
                Upload
              </button>
              <div class="alert alert-light" role="alert">{{ message }}</div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
