<div class="main-content">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Modifier une vente flash</h4>
    </div>
    <div class="card-body">
    <form [formGroup]="flashForm" (ngSubmit)="onSubmit()" novalidate *ngIf="flashForm">
             <mat-form-field>
              <input  matInput  type="text" placeholder="Libelle" formControlName="libelle">
            </mat-form-field>
            <mat-form-field>
              <input  matInput  type="number" placeholder="Prix" formControlName="prix">
            </mat-form-field>
            <mat-form-field>
              <input  matInput  type="text" placeholder="Prix par m²" formControlName="prixParMettreCarre">
            </mat-form-field>
            <mat-form-field>
              <input  matInput  type="text" placeholder="Superficie" formControlName="superficie">
            </mat-form-field>
            <mat-form-field>
              <textarea #value matInput type="text" placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
            <div class="col-6">
              <img [src]="flashTerrain.path" class="rounded" alt="image" style="width:100%; height:auto" formControlName="path">
            </div>
            <hr>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <button mat-raised-button class="boutonEnr" type="submit"> Modifier
              </button>
              <button mat-raised-button class="boutonAnn" type="button" type="reset">Annuler
              </button>
            </div>
    </form>
    </div>
  </div>
</div>

