<div class="main-div">

  <mat-card>
    <mat-card-header>
      <mat-card-title> Modifier la ville</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="villeForm" (ngSubmit)="onSubmit()" novalidate *ngIf="villeForm">
      <div class="well">
        <mat-card>
          <div class="achat">
            <mat-form-field>
              <input  matInput  type="text" placeholder="Libelle" formControlName="libelle">
            </mat-form-field>
            <hr>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <button mat-raised-button class="boutonEnr" type="submit"> Modifier
              </button>
              <button mat-raised-button class="boutonAnn" type="button" type="reset">Annuler
              </button>
            </div>
          </div>

        </mat-card>

      </div>
    </form>
  </mat-card>

</div>


